# {{ ansible_managed }}
# MAPNAME       SYSTEM-USERNAME         PG-USERNAME
rp	            root			        postgres
rp              postgres                postgres
{% for role in postgres_roles %}
rp              root                    {{ role.name }}
{% endfor %}
