{% if postgres_standby|bool %}
standby_mode = on
{% endif %}
{% if postgres_replication.streaming is defined %}
primary_conninfo = 'host={{ postgres_replication.primary_host }} port={{ postgres_replication.primary_port|default(postgres_port) }} user=replication{% if postgres_replication.password is defined %} password={{ postgres_replication.password }}{% endif %}'
{% if postgres_replication.archive_dest is defined %}
restore_command = 'cp {{ postgres_replication.archive_dest }}/%f %p'
archive_cleanup_command = 'pg_archivecleanup {{ postgres_replication.archive_dest }} %r'
{% endif %}
{% elif postgres_replication.archive_dest is defined %}
restore_command = 'pg_standby -s {{ postgres_replication.sleep|default(5) }} -t {{ postgres_replication.trigger_file|default(postgres_default_trigger_file) }} {{ postgres_replication.archive_dest }} '
archive_cleanup_command = 'pg_archivecleanup {{ postgres_replication.archive_dest }} %r'
{% endif %}
recovery_end_command = 'rm -f {{ postgres_replication.trigger_file|default(postgres_default_trigger_file) }}'
trigger_file = {{ postgres_replication.trigger_file|default(postgres_default_trigger_file) }}
